/* General Styles */
body {
    font-family: Arial, sans-serif;
    /* margin: 0; */
    max-width: 1600px;
    margin: auto;
  }
  
  header {
    background-size: cover;
    background-image: url("assets/modern-flowing-blue-wave-banner-background_1035-19862\ \(2\).jpg");
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
  }

  .logo {
    margin: 0;
    width: 300px;
  }

  .logo-mobile {
    margin: 0;
    width: 50px;
  }

  .main-nav {
    justify-self: end;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #071a83;
    text-decoration: none;
  }

  li:last-child {
   padding: 0 65px 0 0;
  }

  .main-image {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  

  /* .main-image 
  .gallery-image {
    width: 100%;
    height: auto;
    position: relative;
  } */

  .button-container {
    display: flex;
    justify-content: center;
  }

  .button {
    /* background-color: white; */
    padding: 14px;
    text-decoration: none;
    z-index: 1;
    justify-content: center;
    position: absolute;
    top: 20%;
    color: #071a83;
    font-size: 25px;
    font-family: Baskerville semibold;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
  }
  
  footer {
    background-color: white;
    color: black;
    text-align: center;
    /* padding: 10px; */
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    max-width: 1600px;
    p {
      margin: 20px;
    }
  }

  .footer-homepage {
    position: fixed;
    bottom: 0;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo {
      display: none;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }

    ul {
      padding: 0;
    }

    li:last-child {
      padding: 0;
  }
  .hero-desktop {
    display: none;
  }
  .main-image {
    display: none;
  }
  .main-image-mobile {
    height: 90vh;
    width: 100%;
    position: absolute;
  }
  .hero-logo-mobile-container {
    justify-content: center;
    display: flex;
  }
  .hero-logo-mobile {
  z-index: 1;
    position: absolute;
    top: 40%;
    width: 80%;
}
      .footer-homepage {
    position: absolute;
    bottom: 0;
  }
.booking-footer {
  bottom: 0;
}
.button {
  text-decoration: underline;
  top: 46%;
  color: #071a83;
  padding: 0;
  font-size: 20px;
  font-family: Baskerville semibold;
    font-style: italic;
    font-weight: 600;
}
  }

  @media (min-width: 768px) {
    .logo-mobile {
      display: none;
    }
    /* .mobile-home {
      display: none;
    } */
    .hero-mobile {
      display: none;
    }
    .button {
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.3s ease;
    }
    .button:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  /* gallery styles */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }
  
  .thumbnail {
    margin: 10px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .mySlides img {
    width: 100%;
    height: auto;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: #f1f1f1;
    cursor: pointer;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }
  
  .prev:hover,
  .next:hover {
    color: #bbb;
  }
  
  /* new header styles */

  header {
    /* background-color: #333; */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #burger-icon {
    color: #071a83;
  }

  #logo {
    display: flex;
    align-items: center;
  }

  #logo img {
    max-width: 100%;
    height: auto;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-right: 20px;
  }

  #burger-icon {
    display: none;
    cursor: pointer;
    font-size: 20px;
  }

  #close-icon {
    color: black;
    display: none;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
    padding: 10px 10px 0 0;
  }


  @media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: row-reverse;
    }

    nav {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      /* top: 60px; */
      left: -100%; /* Start off-screen */
      width: 75%;
      /* background-color: #333; */
      text-align: center;
      transition: left 0.5s ease; /* Add transition for smooth slide effect */
    }

    nav.show {
      /* display: flex; */
      z-index: 1;
      background-color: aliceblue;
      left: 0; /* Slide in */
    }

    nav ul {
      flex-direction: column;
      padding: 10px;
      text-align: left;
    }

    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }

    #burger-icon {
      color: #071a83;
      display: block;
      justify-content: end;
      display: flex;
    }

    #close-icon {
      display: block;
    }
  }

  /* video about stylings */

  /* .about-video {
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  } */

  .about-video {
    margin: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
    height: 0;
    overflow: hidden;
  }

  .about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* booking page styles */

  .booking-title {
    color: slategrey;
    font-size: 25px;
    margin: 20px;
  }

  /* about page styles */

  .about-description  {
    color: black;
    margin: 20px;
  }

  /* gallery desktop styles */

  @media screen and (min-width: 768px) {
    
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      /* gap: 20px;
      padding: 20px; */
    }
    
    .thumbnail {
      overflow: hidden;
      cursor: pointer;
      display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
    }
    
    .thumbnail img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      /* width: 100%;
      height: auto; */
      transition: transform 0.2s;
    }
    
    .thumbnail:hover img {
      transform: scale(1.1);
    }
    
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9);
    }
    
    .modal-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .mySlides img {
      width: 100%;
      height: auto;
    }
    
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      font-size: 40px;
      color: #f1f1f1;
      cursor: pointer;
    }
    
    .prev,
    .next {
      position: absolute;
      top: 50%;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      color: white;
    }
    
    .prev {
      left: 20px;
    }
    
    .next {
      right: 20px;
    }
    
    .prev:hover,
    .next:hover {
      color: #bbb;
    }
    
  }

/* page titles  */

.page-titles {
  color: #071a83;
    font-size: 25px;
    font-family: Baskerville semibold;
    font-style: italic;
    font-weight: 600;
    margin: 20px;
}
